{%extends "layout.html"%}
{% block content %}
<div class="home">
     <h1>Twitter project</h1>
     <p>La base de données contient {{ tweetNumber }} tweets avec des coordonnées</p>

     <p>Les differentes cartes :
     <button type="button" onclick="window.location.href='{{ url_for('maps') }}';">Tweets à leurs positions d'origine</button>
     <button type="button" onclick="window.location.href='{{ url_for('maps_city') }}';">Tweets regroupés par ville</button>
     <button type="button" onclick="window.location.href='{{ url_for('maps_words') }}';">Les 10 mots-clés par ville</button></p>
<div>
{%endblock%}